@import '~bootstrap/scss/bootstrap.scss';

.container-fluid
{
    padding: 0;
}

.navbar
{
    &__ul
    {
        background-color: $primary;
    }

    &__li
    {
        list-style-type: none;
        text-align: center;
        font-size: 1.5rem;
        border-left: 2px solid $white;
    }

    &__item
    {
        text-decoration: none;
        color: $white;
    }
}